<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Weekly Purchase Order</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Weekly Purchase Order" name="description" />
    <meta content="" name="author" />
    <style>
        html { margin: 0px}
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
            line-height: 1.42857;
            color: #000;
            padding: 0;
            margin: 0;
        }
        .container {
            padding: 0 20px;
        }
        .header {
            background-color: #FFEFD5; /*#f2f9ff;*/

        }
        p {
            margin: 0;
        }
        .title {
            font-size: 24px;
            text-transform: uppercase;
            color: #555555;
            margin: 0;
            font-weight: 400;
        }
        .sub-title {
            font-size: 18px;
            text-transform: uppercase;
            margin: 0;
        }
        .content {
            margin-top: 0;
            padding-left: 39px;
            padding-right: 20px;
        }
        table {
            border-collapse: collapse;
            border: 0;
            width: 100%;
            table-layout: fixed;
        }
        table th,
        table td {
            padding: 3px 15px;
        }
        table th {
            color: #555555;
        }
        table.table-subtitle table tr:first-child th,
        table.table-subtitle table tr:first-child td{
            padding-top: 0;
        }
        table.table-subtitle table tr:last-child th,
        table.table-subtitle table tr:last-child td{
            padding-bottom: 0;
        }
        table.table-title td {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        table.table-subtitle th,
        table.table-subtitle td {
            padding: 3px 0;
            font-size: 11px;
        }
        table.table-data .border-right {
            border-right: 1px solid #9d9d9d;
        }
        table.table-data .border-bottom {
            border-bottom: 1px solid #9d9d9d;
        }
        table.table-data td {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #f5f5f5;
        }
        table.table-data tr.subtotal-every td {
            background-color: #ffffff;
        }
        table.table-data tr.subtotal td {
            background-color: #ffffff;
            font-size: 14px;
        }
        table.table-data th {
            border-bottom: 1px solid #9d9d9d;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .float-left {
            float: left;
        }
        .float-right {
            float: right;
        }
        .text-note {
            margin: 10px 0;
            text-align: center;
        }
        .text-footer {
            text-align: center;
            padding: 10px 0;
            border-top: 1px solid #9d9d9d;
            color: #555555;
        }
        .text-gray {
            color: #555;
        }

        .text-light-gray {
            color: #a1a1a1;
        }

        .title-light-gray {
            color: #a1a1a1;
            font-size:  18px;
            font-weight: 700;
        }
        .cb{clear: both;}
        .cb-items{padding: 120px 0;}
        .page-break-auto{page-break-inside: avoid; height: 240px;}
        footer { position: fixed; bottom: 20px; height: 240px;}
        .breadcrumb{font-size: 11px; font-weight: bold; padding: 0 0 15px; list-style: none; margin: 30px;}
    </style>
</head>
<body>
<div class="wrapper-content">
    <div class="header">
        <div class="container">
            <table class="table-title">
                <tr>
                    <td width="46%" valign="top" align="left">
                        <table>
                            <tr><td valign="top"><img src="{{ logoUrl }}" alt="logo"></td></tr>
                            <tr><td valign="top"><h2 class="sub-title">GMEDES Pte Ltd</h2></td></tr>
                            <tr><td valign="top">                                
                                <table class="table-subtitle">
                                    <tr><td>Finance Department</td></tr>
                                    <tr><td>{{ courier.name }}</td></tr>
                                    <tr><td>{{ courier.line1 }}, {{ courier.line2 }}, {{ courier.line3 }}</td></tr>
                                    <tr><td>819827, {{ courier.city }}, {% if courier.state != "" %}{{ courier.state }}, {% endif %} {{ courier.country }}</td></tr>
                                </table>
                            </td></tr>
                        </table>
                    </td>
                    <td width="54%" valign="top" align="right">
                        <table>
                            <tr><td valign="top" align="right"><h1 class="title">Weekly Purchase Order</h1></td></tr>
                            <tr><td valign="top">
                                <table class="table-subtitle">
                                    <tbody>
                                    <tr>
                                        <th width="50%" class="text-gray"><strong>Weekly Purchase Order Date:</strong></th>
                                        <td width="50%" align="right">{% if info %}{{ info.weeklyPoDate|date("d M Y") }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th width="50%" class="text-gray"><strong>Weekly Delivery Period:</strong></th>
                                        <td width="50%" align="right">{% if info %}{{ info.cycleFromDate|date("d") }} to {{ info.cycleToDate|date("d M Y") }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-gray"><strong>Weekly Purchase Order Number:</strong></th>
                                        <td align="right">{% if info %}{{ info.poNumber }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-gray"><strong>Delivery Partner ID:</strong></th>
                                        <td align="right">WTM</td>
                                    </tr>
                                    <tr>
                                        <th class="text-gray"><strong>Page:</strong></th>
                                        <td align="right"> </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="content">
        <table class="table-data">
            <thead>
            <tr>
                <th align="left" width="5%">No</th>
                <th align="left">PO Date</th>
                <th align="center" width="31%" class="border-right">Daily Purchase Order Number</th>
                <th align="center" width="18%" class="border-right">Amount excluding GST (SGD)</th>
                <th align="center" width="18%" class="border-right">GST Amount (SGD)</th>
                <th align="center" width="18%">Amount including GST (SGD)</th>
            </tr>
            </thead>
            <tbody>
            {% if lists %}
                {% set totalAmount = 0 %}
                {% set totalExcludeGstAmount = 0 %}
                {% set totalGstAmount = 0 %}
                {% for item in lists %}
                    {% set totalAmount = totalAmount + item.amount %}
                    {% set totalExcludeGstAmount = totalExcludeGstAmount + item.excludeGstAmount %}
                    {% set totalGstAmount = totalGstAmount + item.gstAmount %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.poDate|date("d M Y") }}</td>
                        <td class="border-right">{{ item.poNumber }}</td>
                        <td class="border-right" align="right"> <span>{{ item.excludeGstAmount|number_format(2, '.', ',') }}</span></td>
                        <td class="border-right" align="right"> <span>{{ item.gstAmount|number_format(2, '.', ',') }}</span></td>
                        <td align="right"> <span>{{ item.amount|number_format(2, '.', ',') }}</span></td>
                    </tr>
                {% endfor %}
                <tr class="subtotal-every">
                    <td colspan="3" align="right" class="border-bottom border-right"><strong>Total</strong></td>
                    <td align="right" class="border-bottom border-right">
                        <div><strong>SGD</strong></div>
                        <div><strong>{{ totalExcludeGstAmount|number_format(2, '.', ',') }}</strong></div>
                    </td>
                    <td align="right" class="border-bottom border-right">
                        <div><strong>SGD</strong></div>
                        <div><strong>{{ totalGstAmount|number_format(2, '.', ',') }}</strong></div>
                    </td>
                    <td align="right" class="border-bottom">
                        <div><strong>SGD</strong></div>
                        <div><strong>{{ totalAmount|number_format(2, '.', ',') }}</strong></div>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="content">
        <div class="breadcrumb"></div>
    </div>
    <div class="page-break-auto">
    <footer>
        <div class="content">
            <table class="table-note">
                <tr>
                    <td colspan="2">
                        <table valign="top">
                            <tr><td>1. Please send original invoice and quote our Weekly Purchase Order Number</td></tr>
                            <tr><td>2. Please send all correspondence to:</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="60%">
                        <table valign="top">
                            <tr><td>Finance Department</td></tr>
                            <tr><td>GMedes Pte Ltd</td></tr>
                            <tr><td>115 Eunos Ave 3</td></tr>
                            <tr><td>#05-01</td></tr>
                            <tr><td>Singapore 409839</td></tr>
                        </table>
                    </td>
                    <td width="40%" valign="bottom">
                        <p class="title-light-gray">GST Code</p>
                        <table class="table-subdata">
                            <tr>
                                <td class="text-gray" width="20%"><strong>SRP</strong></td>
                                <td width="80%">Standard-Rated Purchases </td>
                            </tr>
                            <tr>
                                <td class="text-gray" width="20%"><strong>ZRP</strong></td>
                                <td width="80%">Zero-Rated Purchases</td>
                            </tr>
                            <tr>
                                <td class="text-gray" width="20%"><strong>NGP</strong></td>
                                <td width="80%">No GST</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="content">
            <div class="text-note"><i>This a Computer generated Purchase Order. No signature is required</i></div>
            <div class="text-footer">
                <p>GMedes Pte Ltd | 115 Eunos Ave 3, #05-01 Singapore 409839</p>
            </div>
        </div>
    </footer>
    </div>
</div>
</body>
</html>
