{% set sortColumn = sortInfo is not empty ? sortInfo.column : '' %}
{% set sortDirection = sortInfo is not empty ? sortInfo.direction : '' %}

<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="sample_1" role="grid" aria-describedby="sample_1_info" style="width: 1562px;">
        <thead>
          <tr role="row">
            <th class="sorting {% if 'orderNumber' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="orderNumber" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending"># Order ID</th>

            <th class="sorting {% if 'paidOn' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="paidOn" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Confirmed Order Date</th>

            <th class="sorting {% if 'status' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="status" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Rx Status</th>

            <th class="sorting {% if 'doctorCode' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="doctorCode" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Doctor Code</th>

            <th class="sorting {% if 'doctorName' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="doctorName" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Doctor Name</th>

            <th class="sorting {% if 'patientCode' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="patientCode" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Patient Code</th>

            <th class="sorting {% if 'patientName' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="patientName" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Patient Name</th>

            <th class="sorting {% if 'orderValue' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="orderValue" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Order value</th>
          </tr>
        </thead>
        <tbody>
        {% if data %}
            {% for order in data %}
                  <tr role="row" class="row-item rowItem">
                    <td>
                        <div class="nowrap"><a href="javascript:void(0);" class="rowItemLink btn btn-circle green-seagreen btn-xs row-item-btn"><i data-loaded='false' data-url="{{ path('admin_rx_transaction_history_detail', { rxId: order.rxId }) }}" class="fa fa-plus"></i></a> {{ order.orderNumber }}</div>
                    </td>
                    <td>{{ order.paidOn|date("m/d/Y") }}</td>
                    <td>{{ convertRXStatus(order.status) }}</td>
                    <td>{{ order.doctorCode }}</td>
                    <td>{{ order.doctorName }}</td>
                    <td>{{ order.patientCode }}</td>
                    <td>{{ order.patientName }}</td>
                    <td>{{ order.orderValue }}</td>
                  </tr>

                  {# {% include '@Doctor/rx/reports/_rx_detail.html.twig' with { 'rxId': "{{ order.rxId, 'order' : order }}" } %} #}

            {% endfor %}
        {% else %}
                <tr><td colspan="8">{{ generateMessage('msgNoData') }}</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% if data|length > 0 %}
    {% set fromRecord = currentPage > 0? currentPage*perPage: currentPage %}
    {% set toRecored = fromRecord + perPage %}
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="dataTables_info" role="status" aria-live="polite">Showing {{ fromRecord + 1 }} to {{ toRecored < totalResult? toRecored: totalResult }} of {{ totalResult }} entries</div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="dataTables_paginate paging_bootstrap_number ajax_paging">
                {{ paginationHTML|raw }}
            </div>
        </div>
    </div>
    <input type="hidden" name="ps_filter[page]" value="{{ currentPage }}">
{% endif %}

