{% extends '@Doctor/layout.html.twig' %}

{% block body %}

{% if app.user.isMPA %}
{% include '@Doctor/mpa/header.html.twig' %}
{% else %}
{% include '@Doctor/header.html.twig' %}
{% endif %}

<div class="page-container">

  {% if app.user.isMPA %}
  {% include '@Doctor/mpa/left-menu.html.twig' with { 'mainMenu': 'patient', 'subMenu': 'list-patient' } %}
  {% else %}
  {% include '@Doctor/left-menu.html.twig' with { 'mainMenu': 'patient', 'subMenu': 'list-patient' } %}
  {% endif %}

  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <!-- BEGIN PAGE HEAD-->
      <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
          <h1>List Patients</h1>
        </div>
        <!-- END PAGE TITLE -->
      </div>
      <!-- END PAGE HEAD-->
      <!-- BEGIN PAGE BREADCRUMB -->
      <ul class="page-breadcrumb breadcrumb">
        <li> <a href="{{ path('doctor_dashboard') }}">Home</a><i class="fa fa-circle"></i></li>
        <li><span class="active">List patients</span></li>
      </ul>
      <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
      <div class="row">
        <div class="col-md-12"> 
          <!-- Begin: life time stats -->
          <div class="portlet light">
            <div class="portlet-body form">
                <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                <form class="form-wizard" id="patientSearchForm" data-url="{{ path('patient_ajax_get_list') }}">
                  <div class="row show-grid mb-grid">
                      <div class="col-lg-5 col-md-7">
                        <div class="input-icon right"> <i class="icon-magnifier"></i>
                          <input type="text" class="form-control" placeholder="Search by Patient Name/Code" name="query">
                        </div>
                      </div>
                      
                      <div class="col-lg-7 col-md-5 text-right">
						{% if app.user.permissions is empty or 'patient_new' in app.user.permissions %}
                        <a href="{{ path('patient_new') }}" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-icon-right btn-sm">
                     Register New Patient <i class="fa fa-plus"></i> </a>
						{% endif %}
                     </div>
                  </div>
                  <div class="advanced_search mb-15"> 
                    <div class="portlet">
                      <div class="portlet-title">
                        <div class="tools pull-left">
                          <a href="javascript:;" class="expand link-icon" title="">Search Options</a>
                        </div>
                      </div>

                      <div class="portlet-body" style="display: none;">
                        <div class="form-body">
                          <div class="form-actions text-right mb-20">
                            <a href="javascript:void(0);" class="btn btn-ahalf-circle text-uppercase btn-default btn-outline btn-xs" id="resetBtn">Reset Search</a>
                            <a class="btn btn-ahalf-circle text-uppercase green-seagreen btn-xs btn-icon-left ml-10" id="updateBtn">Update Search Result</a>
                          </div>
                          <div class="row mb-grid">
                            <div class="col-md-4">
                              <div class="mb-15"><strong class="block">By Country</strong></div>
                              <select id="country" name="country" class="form-control select2">
                              <option value="">Select Country of Residence</option>
                              {% for key, item in countries %}
                                  <option value="{{ key }}">{{ item }}</option>
                              {% endfor %}
                              </select>
                            </div>

                            <div class="col-md-4">
                              <div class="mb-15"><strong class="block">By Date of last RX</strong></div>
                              <div id="reportrange2" class="btn default">
                                <i class="fa fa-calendar"></i> &nbsp;
                                <span> </span>
                                <b class="fa fa-angle-down"></b>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="isAdvanced" id="isAdvanced">
                  <input type="hidden" name="sorting" id="sorting">
                  <input type="hidden" name="startDate" id="startDate">
                  <input type="hidden" name="endDate" id="endDate">
                {% if countData %}
                  <div class="row show-grid module-filter">
                    <div class="col-md-8">
                      <div class="mod-filter">
                        <span class="filter-label">Filter by Caregiver:</span>
                        <div class="entry filter-changing primary">
                          <a href="javascript:void(0);" class="active caregiver" data-status="all">All</a>
                          <a href="javascript:void(0);" data-status="1" class="caregiver">Yes</a>
                          <a href="javascript:void(0);" data-status="0" class="caregiver">No</a>
                        </div>
                      </div>
                      <div class="mod-filter mt-10">
                        <span class="filter-label">Filter by Status:</span>
                        <div class="entry filter-changing primary">
                          <a href="javascript:void(0);" class="patientStatus active" data-value="0">Active</a>
                          <a href="javascript:void(0);" data-value="1" class="patientStatus">Deleted</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="text-right" id="sample_1_length">
                          <label>
                            <select name="perPage" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline" id="perPage">
                              <option value="10">10</option>
                              <option value="15">15</option>
                              <option value="20">20</option>
                            </select>
                            entries</label>
                        </div>
                    </div>
                  </div>
                  <div class="content-table" id="tableContainer">
                  {{ render(controller('DoctorBundle:Patient:ajaxGetListPatient')) }}
                  </div>
                  </form>
                  {% else %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="no-item-add">
                        <span>You don't have any patient yet. Click <a href="{{ path('patient_new') }}"> <strong>Register Patient</strong></a> to start adding your patient.</span>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
            </div>
          </div>
  </div>
</div>

  <input type="hidden" id="load-patient-url" value="{{ path('patient_ajax_get_info') }}">

  <input type="hidden" id="export-patient-url" value="{{ path('patient_ajax_get_info_note_list',{patientId: 'patientId'}) }}">

    <div id="modal-patient-note" class="modal fade modal-new" tabindex="-1" data-width="900">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
            <h4 class="modal-title">Patient Notes</h4>
        </div>
        <div class="modal-body">
            <div class="notes-patient-info patient-info bg-light-blue">

            </div>
            <div class="form mb-30">
                <div class="mb-5"><strong>Add a new note:</strong></div>
                <div class="form-group">
                    <textarea rows="5" class="form-control" id="note-content" placeholder="Add notes about this patient"></textarea>
                </div>
                <div class="form-action text-right">
                    <a href="javascript:;" id="btn-add-note" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm btn-icon-right">Add Notes<i class="fa fa-plus"></i></a>
                </div>
            </div>

            <div class="mb-5"><strong>Previous Notes</strong></div>
            <div class="portlet box white portlet-scroller">
                <div class="portlet-body">
                    <div class="scroller" style="height:280px" data-always-visible="1" data-rail-visible="1" data-rail-color="white" data-handle-color="green">
                        <div class="table-scrollable table-scrollable-borderless">
                            <div class="list-notes">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix">
                <div class="pull-left"><a href="javascript:;" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm btn-icon-right" id="export-patient-note">Print<i class="fa fa-print"></i></a></div>
                <div class="pull-right"><a href="javascript:;" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm btn-icon-right" data-dismiss="modal">Close Patient Notes<i class="fa fa-close"></i></a></div>
            </div>

        </div>
    </div>

{% include '@Doctor/rx/_delete-dialog.html.twig' %}

{% endblock %}

{% block stylesheets %}

{% stylesheets 
  'bundles/admin/assets/global/plugins/datatables/datatables.min.css'
  'bundles/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
  'bundles/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
  'bundles/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
  'bundles/admin/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
  'bundles/admin/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
  'bundles/admin/assets/global/plugins/clockface/css/clockface.css'
  'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
  'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
  'bundles/admin/assets/global/plugins/icheck/skins/minimal/_all.css'
  'bundles/admin/assets/global/plugins/select2/css/select2.min.css'
  'bundles/admin/assets/global/plugins/select2/css/select2-bootstrap.min.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts 
  '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
  '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
  '@AdminBundle/Resources/public/assets/global/plugins/icheck/icheck.min.js'
  '@AdminBundle/Resources/public/assets/global/plugins/select2/js/select2.full.min.js'
  '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
  '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
  '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
  '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
  '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
  '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'
  '@DoctorBundle/Resources/public/js/patient-list.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}