{% extends '@Admin/layout.html.twig' %}
{% block stylesheets %}
{% stylesheets
    'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
    'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
    filter='cssrewrite'
    debug=false
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body %}
    {% include '@Admin/header.html.twig' %}
    <div class="page-container">
        {% include '@Admin/left-menu.html.twig' with { 'mainMenu': 'remindersettings', 'subMenu': '' } %}
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>Other Settings</h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE BREADCRUMB -->
                <ul class="page-breadcrumb breadcrumb">
                    <li> <a href="{{ path('admin_dashboard')}}">Home</a> <i class="fa fa-circle"></i> </li>
                    <li> <span class="active">Other Settings</span> </li>
                </ul>
                <!-- END PAGE BREADCRUMB -->
                <!-- BEGIN PAGE BASE CONTENT -->
                {{ display_messages()|raw }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form, {'attr': {'id': 'frm-others-setting'}}) }}
                        <div class="portlet light reminder-setting">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject font-dark sbold uppercase">Email Schedule of Medicine Import  Declaration Form for Personal Use (Indonesia Only)</span>
                                </div>
                                <div class="text-right">
                                    {% set module = 'admin_others_setting' %}
                                    <a href="#" id="view_logs_others_setting"
                                    data-toggle="modal"
                                    data-module="{{ module }}"
                                    data-template-view="AdminBundle:admin\logs:others_setting_log.html.twig"
                                    data-template-print="AdminBundle:admin\logs:others_setting_pdf.html.twig"
                                    data-breadcrumb-title="Other Settings"
                                    data-modal-title="Other Settings"
                                    data-file-name="others_setting_log"
                                    class="btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-sm btn-icon-right">View Log</a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-wizard">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <div class="reminder-text">Send email to patient
                                                {{ form_widget(form.scheduleDeclarationTime, {'attr': {'class': 'form-control on-number-only'}})}}
                                                hours after payment.</div>
                                                {{ form_widget(form.operationsCountryId) }}
                                        </div>
                                        <div class="form-actions">
                                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-ahalf-circle text-uppercase green-seagreen btn-sm'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT BODY -->
        </div>
    </div>
    {% include '@Admin/modals/view-log.html.twig'%}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/additional-methods.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/form-icheck.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
    '@AdminBundle/Resources/public/js/admin_others_setting.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}