<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top header-add">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner "> 
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="{{path('doctor_dashboard')}}">
        <img src="{{ asset('bundles/admin/assets/layouts/layout4/img/logo-light.png') }}" alt="logo" class="logo-default" />
        <span class="logo-type">Doctors</span>
      </a>
      <div class="menu-toggler sidebar-toggler">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
      </div>
    </div>
    <!-- END LOGO -->
    <div class="header-manage-account desktop-view">
        <div class="mc-text">
            <span class="mc-note">You are managing the account of:</span>
            <span class="mc-name">{{ app.user.doctorName is defined and app.user.doctorName ? app.user.doctorName : 'Select a doctor account' }}</span>
        </div>
        <div class="mc-btn">
            <a href="#modal-select-doctor" data-toggle="modal" data-target="#modal-select-doctor" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-xs two-lines">
                <img src="{{ asset('bundles/admin/assets/layouts/layout4/img/icon-two-person.png') }}" alt="">
                   <span>Select Doctor <br> Account to Manage</span> </a>
        </div>
    </div>
    <!-- BEGIN RESPONSIVE MENU TOGGLER --> 
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a> 
    <!-- END RESPONSIVE MENU TOGGLER --> 
    
    <!-- BEGIN PAGE TOP -->
    <div class="page-top"> 
      
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <!-- BEGIN TODO DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          {% set list = getMPANotifications() %}
          {% if list|length > 0 %}
          <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark collapse_button" id="header_task_bar">
              <div class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <a href="javascript:;">
                  <i class="fa fa-bars"><span class="badge badge-danger"> {{ list|length }} </span></i>
                </a>
              </div>
              <ul class="dropdown-menu extended tasks">
                  <li class="external">
                      <h3>NOTIFICATIONS</h3>
                  </li>
                  <li>
                      <ul class="dropdown-menu-list scroller list-notifications" style="height: 275px;" data-handle-color="#637283">
                        {% for index,item in list %}
                          <li>
                              Patient {{ item.name }}'s RX Order to be amended. <br>
                              {% for element in item.amendment %}
                                {% if loop.index == 1 %}
                                {% set text = element.drugName ~ ' - ' ~ element.text %}
                                {{ text|slice(0, 40) }}
                                {% if text|length > 40 or loop.length > 1 %}...{% endif %}
                                {% endif %}
                              {% endfor %}
                              <a href="{{ path('edit_rx', {'rxId': index}) }}">View Full Message</a>
                          </li>
                        {% endfor %}
                        {% if 'list_draft_rx' in app.user.permissions %}
                          <li class="text-right pt0"><a href="{{ path('list_draft_rx', {'tab': 5}) }}">View all RX Orders for Amendment</a></li>
                        {% endif %}
                      </ul>
                  </li>
              </ul>
          </li>
          <!-- END TODO DROPDOWN -->
          {% endif %}
          <!-- BEGIN USER LOGIN DROPDOWN --> 
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-user dropdown-dark"> 
            <a href="javascript:;" class="dropdown-toggle has-id" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <span class="username username-hide-on-mobile">{{app.user.displayName}}<br>{{ app.user.userCode|default('') }}</span>
            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used --> 
            <img alt="" class="img-circle" src="{{ asset(app.user.avatar) }}&{{ date().timestamp }}" /> </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li> <a href="{{path('logout')}}"> <i class="icon-key"></i> Log Out </a> </li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU --> 
    </div>
    <!-- END PAGE TOP --> 
    <div class="header-manage-account mobile-view">
        <div class="mc-text">
            <span class="mc-note">You are managing the account of:</span>
            <span class="mc-name">{{ app.user.doctorName is defined and app.user.doctorName ? app.user.doctorName : 'Select a doctor account' }}</span>
        </div>
        <div class="mc-btn">
            <a href="#modal-select-doctor" data-toggle="modal" data-target="#modal-select-doctor" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-xs two-lines">
                <img src="{{ asset('bundles/admin/assets/layouts/layout4/img/icon-two-person.png') }}" alt="">
                   <span>Select Doctor <br> Account to Manage</span> </a>
        </div>
    </div>
  </div>
  <!-- END HEADER INNER --> 
</div>
<!-- END HEADER --> 
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>

<div id="modal-select-doctor" class="modal fade modal-new" tabindex="-1" data-width="600" data-backdrop="static">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
      <h4 class="modal-title">Select the Doctor's Account to Manage</h4>
  </div>
  <div class="modal-body">
      <p class="mt-0 mb-10">Hello, {{ app.user.displayName }}!</p>
      <p class="mt-0">Select the Doctor's Account you wish to manage today:</p>
      <form action="{{ path('mpa_index') }}" id="gotoDoctorForm" method="POST">
      <div class="row mt-30">
       <label class="col-md-3 align-right mb-0 mt-5">Doctor Name</label>
       <div class="col-md-9">
          <select name="doctorId" class="form-control select2">
            {% set doctors = getMPADoctors() %}
            {% for item in doctors %}
                <option value="{{ item.id }}" {{ item.id == app.user.id ? 'selected' : '' }}>{{ item.getPersonalInformation().getFullName() }}</option>
            {% endfor %}
          </select>
       </div>
      </div>
      <div class="align-center mt-20">
        <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm ml-10" data-dismiss="modal">Close</a>
        <button type="submit" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm ml-10" {% if doctors|length == 0 %} disabled {% endif %} >Go to Doctor's Account</button>
      </div>
      </form>
  </div>
</div>
