<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email Template</title>
<style>
</style>
</head>
<body style="margin:0; padding:0;background-color: #ebebeb"> 
<table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0; background-color: #ebebeb; font-family: Arial, Helvetica, sans-serif;">
  <tr>
    <td valign="top">
      <table width="960" border="0" cellpadding="0" align="center" cellspacing="0" style="background-color: #ffffff;">
        <tr colspan="3"><td height="15"></td></tr>
        <tr>
          <td colspan="3">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
            	<tr>
              	<td width="30"></td>
                <td>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  	<tr>
                    	<td width="50%"><img src="{{ logoUrl|default('') }}" style="display:block;border:0;margin:0;" ></td>
                        <td width="50%" align="right">
                        </td>
                    </tr>            	
                  </table>
                </td>
                <td width="30"></td>
              </tr>            	
            </table>
          </td>
        </tr>    
      <tr>
        <td width="30"></td>
        <td>
          <table width="100%"  border="0" cellpadding="0" cellspacing="0">
            <tr><td height="30"></td></tr>
            <tr><td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 14px">Dear <strong>{{name}}</strong>,</font></td></tr>
            <tr><td height="20"></td></tr>
            <tr><td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 14px">Get ready to power your dispensing! You have been registered as a doctor in our G-MEDS Platform. To access your account, please set up your password as well as profile information by clicking on the button below:</font></td></tr>
            <tr><td height="20"></td></tr>
            <tr><td align="center">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#c42639" style="padding: 12px 18px 12px 18px; -webkit-border-radius:3px; border-radius:3px" align="center">
                      <a href="{{ base ~ path('doctor_setting_password',{'id':id, 'type':1}) }}" style="font-family: Arial, Helvetica, sans-serif;font-weight: normal; color: #ffffff; text-decoration: none; display: inline-block;">G-MEDS Account Setup</a>
                    </td>
                  </tr>
                </table>
            </td></tr>
            <tr><td height="20"></td></tr>
            <tr><td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 14px">If the button is not working, copy and paste the following URL into your browser's address field:</font></td></tr>
            <tr><td height="20"></td></tr>
            <tr><td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 14px"><a href="{{ base ~ path('doctor_setting_password',{'id':id, 'type':1}) }}" style="color: black;">{{ base ~ path('doctor_setting_password', {'id':id, 'type':1}) }}</a></font></td></tr>
            <tr><td height="20"></td></tr>
            <tr><td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 14px">To view our Doctor’s Subscriber Agreement, please click <a href="{{ absolute_url(path('doctor_subscriber_agreement')) }}">here</a></font></td></tr>
            <tr><td height="40"></td></tr>
            <tr><td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 14px">Contact <a href="mailto:doctorshelp@gmedes.com" style="color: black;">doctorshelp@gmedes.com</a> if you require assistance.</font></td></tr>
            <tr><td height="40"></td></tr>
            <tr><td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 14px">Sincerely,</font></td></tr>    
            <tr><td><font color="#000000" face="Arial, Helvetica, sans-serif" style="font-size: 14px">The G-MEDS Team</font></td></tr>
            <tr><td height="40"></td></tr>
          </table>
        </td>
        <td width="30"></td>
      </tr>
      <tr>
          <td colspan="3">
              {% include '@Admin/emails/footer-doctor.html.twig' %}
          </td>
      </tr>
      </table> 
    </td>
  </tr>
</table>
</body>
</html>