{% extends '@Admin/layout.html.twig' %}
{% block body %}

{% include '@Admin/header.html.twig' %}

<div class="page-container">
  {% include '@Admin/left-menu.html.twig' with { 'mainMenu': 'profile', 'subMenu': 'personal-information' } %}
  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <!-- BEGIN PAGE HEAD-->
      <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
          <h1>Personal Information</h1>
        </div>
        <!-- END PAGE TITLE -->
      </div>
      <!-- END PAGE HEAD--> 
      <!-- BEGIN PAGE BREADCRUMB -->
      <ul class="page-breadcrumb breadcrumb">
        <li> <a href="index.html">Home</a> <i class="fa fa-circle"></i> </li>
        <li> <span class="active">Profile</span> </li>
      </ul>
      <!-- END PAGE BREADCRUMB -->

      <!-- BEGIN PAGE BASE CONTENT -->
      <div class="row">
        
        <div class="col-md-12"> 
          <!-- Begin: life time stats -->
          <div class="portlet light">            
            <div class="portlet-body form">
              <div class="row profile-account">
                <div class="col-md-12">
                  <div class="tab-content">
                    
                      {{ form_start(formChangePassword) }}
                        <div class="form-wizard">
                          <div class="form-body">
                            <div class="form-content">
                              <div class="form-group col-md-12">
                                <label class="control-label">Current Password <span class="required" aria-required="true"> * </span></label>
                                  {{ form_widget(formChangePassword.current_password, {'attr': {'class': 'form-control'}}) }}
                                <div class="error"></div>
                              </div>
                              <div class="form-group col-md-12">
                                <label class="control-label">New Password <span class="required" aria-required="true"> * </span></label>
                                  {{ form_widget(formChangePassword.new_password, {'attr': {'class': 'form-control'}}) }}
                                <div class="error"></div>
                              </div>
                              <div class="form-group col-md-12">
                                <label class="control-label">Re-type New Password <span class="required" aria-required="true"> * </span></label>
                                  {{ form_widget(formChangePassword.confirm_password, {'attr': {'class': 'form-control'}}) }}
                                <div class="error"></div>
                              </div>
                            </div>
                            
                            <div class="form-actions">
                              <a href="{{ path('admin_dashboard') }}" class="btn grey-dark btn-ahalf-circle text-uppercase btn-sm button-back ml-10">Cancel</a>
                              <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-icon-right btn-sm button-submit ml-10" id="btn-submit-pwd">Save</a>
                            </div>
                          </div>
                        </div>
                      {{ form_end(formChangePassword) }}
                      <input type="hidden" id="ajax_password_change" value="{{path('ajax_admin_change_password')}}">
                  </div>
                </div>
                <!--end col-md-9-->
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PAGE BASE CONTENT --> 
    </div>
  </div>
</div>
{% include '@Agent/popup-notice.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AdminBundle/Resources/public/assets/global/plugins/select2/js/select2.full.min.js' 
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins//bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js' 
        '@AdminBundle/Resources/public/js/profile.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/admin/assets/global/plugins/select2/css/select2.min.css'
        'bundles/admin/assets/global/plugins/select2/css/select2-bootstrap.min.css'
        'bundles/admin/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css'
        'bundles/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
        'bundles/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
        'bundles/admin/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
        'bundles/admin/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
        'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
        
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style type="text/css">
        .disable-nav{
            pointer-events: none;
            cursor: default;
            text-decoration: none;
        }
        .nav-item:hover .disable-nav span {
            color: #9d9d9d !important;
        }
    </style>
{% endblock %}