<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Agents</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #4 for blank page layout" name="description" />
        <meta content="" name="author" />
        <style>
            body {
                color: #333;
                padding: 0;
                margin: 0;
                font-size: 14px;
                font-family: Arial, sans-serif;
            }
            .portlet-title {
                border-left: 1px solid #e7ecf1;
                border-right: 1px solid #e7ecf1;
                border-top: 1px solid #e7ecf1;
                min-height: 41px;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                padding: 10px;
            }
            table {
                width: 100%;
                border: 1px solid #e7ecf1;
            }
            th {
                padding: 10px;
                font-weight: 600;
                vertical-align: bottom;
            }
            td {
                border-top: 1px solid #e7ecf1;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">Agents</div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover table-light_">
                    <thead>
                        <tr class="uppercase">
                            <th style="width: 80px">Date</th>
                            <th style="width: 140px">User</th>
                            <th>Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.createdOn|date('d M y') }}</td>
                            <td>{{ log.createdBy }}</td>
                            {% if log.title == 'new_agent_created' %}
                                <td>{{ log.title|replace({'_': ' '})|title }}</td>
                            {% else %}
                                <td>
                                    
                                    {% if log.title == 'status_changed'%} 
                                        Status Updated
                                        <br /> Old Value: {{ log.oldValue.isActive == 1 ? 'Active' : 'Deactivate' }}
                                        <br /> New Value: {{ log.newValue.isActive == 1 ? 'Active' : 'Deactivate' }}
                                    {% else %}
                                        {% if log.oldValue.bankName != log.newValue.bankName %}
                                            Bank Name is updated
                                            <br />Old Value: {{ log.oldValue.bankName }}
                                            <br />New Value: {{ log.newValue.bankName }}
                                            <br /><br />
                                        {% endif %}
                                        {% if log.oldValue.accountNumber != log.newValue.accountNumber %}
                                            Account Number is updated
                                            <br />Old Value: {{ log.oldValue.accountNumber }}
                                            <br />New Value: {{ log.newValue.accountNumber }}
                                            <br /><br />
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
