<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Agents</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #4 for blank page layout" name="description" />
        <meta content="" name="author" />
        <style>
            body {
                color: #333;
                padding: 0;
                margin: 0;
                font-size: 14px;
                font-family: Arial, sans-serif;
            }
            .portlet-title {
                border-left: 1px solid #e7ecf1;
                border-right: 1px solid #e7ecf1;
                border-top: 1px solid #e7ecf1;
                min-height: 41px;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                padding: 10px;
            }
            table {
                width: 100%;
                border: 1px solid #e7ecf1;
            }
            th {
                padding: 10px;
                font-weight: 600;
                vertical-align: bottom;
            }
            td {
                border-top: 1px solid #e7ecf1;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">Agent Fees</div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover table-light_">
                    <thead>
                        <tr class="uppercase">
                            <th style="width: 100px">Date</th>
                            <th style="width: 140px">User</th>
                            <th colspan="2">Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                            {% set new_log = log[0] %}
                            {% set type = new_log.areaType == 1 ? 'Local' : 'Overseas' %}
                            <tr>
                                <td>{{ new_log.createdOn|date('d M y') }}</td>
                                <td>{{ log.firstName }} {{ log.lastName }}</td>
                                {% if new_log.newAgentFee %}
                                    <td>
                                        {{ type }} Agent Fee Updated
                                        <br />Old Value: {{ new_log.oldAgentFee }}
                                        <br />New Value: {{ new_log.newAgentFee }}
                                        <br /><br />
                                    </td>
                                {% endif %}

                                {% if new_log.newEffectiveDate %}
                                    <td>
                                        {{ type }} Agent Fee Effective Date Updated
                                        <br />Old Value: {{ new_log.oldEffectiveDate|date('d M y') }}
                                        <br />New Value: {{ new_log.newEffectiveDate|date('d M y')}}
                                        <br /><br />
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
