{% extends '@Admin/master_layout.html.twig' %}
{% block classbody %} login setup-password{% endblock %}
{% block body %}
    <div class="logo">
      <a href="{{path('login')}}">
          <img src="{{ asset('bundles/admin/assets/pages/img/parkwaypp.png')}}" alt="" /> </a>
    </div>
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN FORGOT PASSWORD FORM -->
        {% for flashMessage in app.session.flashbag.get('msg') %}

            {% if flashMessage.error is defined %}
                <div class="alert alert-danger">
                    <span> {{ flashMessage.error }} </span>
                    <button class="close" data-close="alert"></button>
                </div>
            {% else %}
                <div class="alert alert-success">
                    <span> {{ flashMessage.success }} </span>
                    <button class="close" data-close="alert"></button>
                </div>
            {% endif %}

        {% endfor %}

        {% if status == 'success' %}
        <!-- BEGIN LOGIN FORM -->
        <p class="form-wellcome">Hello, {{ name }}. Change your password through this form.</p>
        <h3 class="form-title">Set up your new G-MEDS password:</h3>
        {{ form_start(formChangePassword) }}
            <div class="form-group">
                <label class="control-label col-md-3">Password<span class="required" aria-required="true"> * </span></label>
                <div class="col-md-9">
                    {{ form_widget(formChangePassword.new_password, {'attr': {'class': 'form-control'}}) }}
                    <div class="errorBox"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Confirm Password<span class="required" aria-required="true"> * </span></label>
                <div class="col-md-9">
                    {{ form_widget(formChangePassword.confirm_password, {'attr': {'class': 'form-control'}}) }}
                    <div class="errorBox"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9"><a class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm btn-icon-right" id="btn-submit-pwd"> Continue <i class="fa fa-arrow-right"></i> </a></div>
            </div>
            <input type="hidden" name="key" value="{{ key }}">
        {{ form_end(formChangePassword) }}
        <!-- END LOGIN FORM -->
        {% else %}
            <p class="form-wellcome">{{ message }}</p>
            <div class="forget-password">
                <p> Click <a href="{{ path('login') }}"> here </a>  to return login page. </p>
            </div>
        {% endif %}

    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">  </div>
    <!-- END COPYRIGHT -->
{% endblock %}
{% block javascripts %}
    <script>
        var background1 = "{{ asset('bundles/admin/assets/pages/media/bg/1.jpg') }}";
        var background2 = "{{ asset('bundles/admin/assets/pages/media/bg/2.jpg') }}";
        var background3 = "{{ asset('bundles/admin/assets/pages/media/bg/3.jpg') }}";
        var background4 = "{{ asset('bundles/admin/assets/pages/media/bg/4.jpg') }}";
    </script>
    {% javascripts
    '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/backstretch/jquery.backstretch.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/login-4.js'
    '@AdminBundle/Resources/public/js/forgot_password.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function()
        {
            $('#clickmewow').click(function()
            {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/admin/assets/pages/css/login-4.min.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}