{% extends '@Admin/layout.html.twig' %}
{% block stylesheets %}
    {{ parent () }}
    {% stylesheets
    'bundles/admin/assets/global/plugins/datatables/datatables.min.css'
    'bundles/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
    'bundles/admin/assets/global/plugins/ladda/ladda-themeless.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-select/css/bootstrap-select.css'
    'bundles/admin/assets/global/plugins/jquery-multi-select/css/multi-select.css'
    'bundles/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    'bundles/admin/assets/global/plugins/clockface/css/clockface.css'
    'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
    'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
    'bundles/admin/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="{{ asset('bundles/admin/assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block pageTitle %}
    <h1>Gross Margin Share</h1>
{% endblock %}
{% block breadcrumb %}
    <li> <a href="{{ path('admin_dashboard') }}">Home</a> <i class="fa fa-circle"></i> </li>
    <li> <span class="active">Gross Margin Share</span> </li>
{% endblock %}
{% block content %}
<div class="portlet light">
    <div class="portlet-body form">
        {{ display_messages()|raw }}
        <div class="form-body">
            <div class="col-md-6">
                <div class="icheck-inline mb-20">
                    <label><input type="checkbox" class="icheck" {% if isActiveLocal %}checked="checked"{% endif %} value="1" />Local Patients</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icheck-inline mb-20">
                    <label><input type="checkbox" class="icheck" {% if isActiveOversea %}checked="checked"{% endif %} value="2">Overseas Patients</label>
                </div>
            </div>
        </div>
        <div class="form-body form-repeat">
            <div class="mb-20"><strong>Medication Gross Margin Share:</strong></div>
            <div class="row">
                <div class="col-md-6">
                    {% include '@Admin/payment_setting/gms_form.html.twig' with { 'form': formMedicine1, 'formId': 'frm-medicine1', 'area_type': 1, 'ms_type': 1, 'is_active': isActiveLocal  } %}
                </div>
                <div class="col-md-6">
                    {% include '@Admin/payment_setting/gms_form.html.twig' with { 'form': formMedicine2, 'formId': 'frm-medicine2', 'area_type': 2, 'ms_type': 1, 'is_active': isActiveOversea  } %}
                </div>
            </div>
        </div>
        <div class="form-body form-repeat">
            <div class="mb-20"><strong>Prescribing Fee Sharing</strong></div>
            <div class="row">
                <div class="col-md-6">
                    {% include '@Admin/payment_setting/gms_form.html.twig' with { 'form': formService1, 'formId': 'frm-service1', 'area_type': 1, 'ms_type': 2, 'is_active': isActiveLocal  } %}
                </div>
                <div class="col-md-6">
                    {% include '@Admin/payment_setting/gms_form.html.twig' with { 'form': formService2, 'formId': 'frm-service2', 'area_type': 2, 'ms_type': 2, 'is_active': isActiveOversea  } %}
                </div>
            </div>
        </div>
        <div class="form-body form-repeat">
            <div class="mb-20"><strong>Customs Clearance Admin Fee</strong></div>
            <div class="row">
                <div class="col-md-6">
                    {% include '@Admin/payment_setting/gms_form.html.twig' with { 'form': formCustomCAF1, 'formId': 'frm-custom-caf1', 'area_type': 1, 'ms_type': 3, 'inactive_agent': true, 'is_active': isActiveLocal } %}
                </div>
                <div class="col-md-6">
                    {% include '@Admin/payment_setting/gms_form.html.twig' with { 'form': formCustomCAF2, 'formId': 'frm-custom-caf2', 'area_type': 2, 'ms_type': 3, 'inactive_agent': true, 'is_active': isActiveOversea } %}
                </div>
            </div>
        </div>
        <div class="form-body form-repeat">
            <div class="mb-20"><strong>LiveConsult Fee Sharing</strong></div>
            <div class="row">
                <div class="col-md-6">
                    {% include '@Admin/payment_setting/gms_form.html.twig' with { 'form': formLiveConsult1, 'formId': 'frm-live-consult1', 'area_type': 1, 'ms_type': 4, 'is_active': isActiveLocal } %}
                </div>
                <div class="col-md-6">
                    {% include '@Admin/payment_setting/gms_form.html.twig' with { 'form': formLiveConsult2, 'formId': 'frm-live-consult2', 'area_type': 2, 'ms_type': 4, 'is_active': isActiveOversea } %}
                </div>
            </div>
        </div>
        <div class="pt-20 pb-20">
            {% set module = constant('UtilBundle\\Utility\\Constant::GROSS_MARGIN_SHARE_MODULE_NAME') %}
            <a href="#modal-gms-view-logs" id="view_logs_anchor"
            data-module="{{ module }}"
            data-template-view="AdminBundle:payment_setting\Logs:gross_margin_share_log.html.twig"
            data-template-print="AdminBundle:payment_setting\Logs:gross_margin_share_pdf.html.twig"
            data-breadcrumb-title="GROSS MARGIN SHARE"
            data-modal-title='GROSS MARGIN SHARE'
            data-file-name="Gross_Margin_Share_Log"
            data-toggle="modal" class="btn btn-ahalf-circle btn-outline text-uppercase green-seagreen btn-sm">View Log</a>
        </div>
        <input type="hidden" id="url_payment_gms_update_active" value="{{ path('payment_gms_update_active') }}">
        <input type="hidden" id="url_payment_gross_margin_share" value="{{ path('payment_gross_margin_share') }}">
        <input type="hidden" id="platform_share_fee" value="{{ platform_share_fee }}">
    </div>
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/additional-methods.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/ladda/spin.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/ladda/ladda.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/ui-buttons-spinners.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/table-datatables-managed.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
    '@AdminBundle/Resources/public/assets/global/plugins/icheck/icheck.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js'
    '@AdminBundle/Resources/public/js/payment.settings.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}