{% extends '@Admin/layout.html.twig' %}
{% block stylesheets %}
    {{ parent () }}
    {% stylesheets
    'bundles/admin/assets/global/plugins/datatables/datatables.min.css'
    'bundles/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
    'bundles/admin/assets/global/plugins/ladda/ladda-themeless.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-select/css/bootstrap-select.css'
    'bundles/admin/assets/global/plugins/jquery-multi-select/css/multi-select.css'
    'bundles/admin/assets/global/plugins/select2/css/select2.min.css'
    'bundles/admin/assets/global/plugins/select2/css/select2-bootstrap.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
    'bundles/admin/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    'bundles/admin/assets/global/plugins/clockface/css/clockface.css'
    'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
    'bundles/admin/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
    'bundles/admin/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="{{ asset('bundles/admin/assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block pageTitle %}
    <h1>Product Margins</h1>
{% endblock %}
{% block breadcrumb %}
    <li> <a href="{{ path('admin_dashboard') }}">Home</a> <i class="fa fa-circle"></i> </li>
    <li> <span class="active">Product Margins</span> </li>
{% endblock %}
{% block content %}
<div class="portlet light">
    <div class="portlet-body form">
        <div class="form-body form-repeat">
            {{ display_messages()|raw }}
            <div class="mb-20"><strong>Margins:</strong></div>
                {{ form_start(form, {'attr': {'id': 'frm-product-margin','class': 'form-horizontal form-margin-share' }}) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="local" class="col-md-5 control-label">Local Patients (Domestic List Price) Markup</label>
                            <div class="col-md-7">
                                <div class="input-medium-wrapper">
                                    <div class="input-medium-wrap">
                                        <div class="input-group input-small">
                                            {{ form_widget(form.local, {'attr': {'class': 'form-control on-digit-percent', 'placeholder': '0.00'}}) }}
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="overseas" class="col-md-5 control-label">Overseas Patients (Overseas List Price) Markup</label>
                            <div class="col-md-7">
                                <div class="input-medium-wrapper">
                                    <div class="input-medium-wrap">
                                        <div class="input-group input-small">
                                            {{ form_widget(form.overseas, {'attr': {'class': 'form-control on-digit-percent', 'placeholder': '0.00'}}) }}
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-update-margin">
                                    <input class="btn btn-ahalf-circle text-uppercase green-seagreen btn-sm" type="submit" value="Update" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        {#<div class="pt-20 pb-20">
            <a href="#modal-pm-view-logs" data-toggle="modal" class="btn btn-ahalf-circle btn-outline text-uppercase green-seagreen btn-sm">View Log</a>
        </div>#}
    </div>
</div>
{% include '@Admin/payment_setting/modal.html.twig' with {modalType: 'productMargin'} %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/jquery-validation/js/additional-methods.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/ladda/spin.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/ladda/ladda.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/ui-buttons-spinners.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/table-datatables-managed.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js'
    '@AdminBundle/Resources/public/assets/global/plugins/select2/js/select2.full.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/clockface/js/clockface.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/components-select2.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/components-multi-select.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'
    '@AdminBundle/Resources/public/assets/pages/scripts/form-icheck.min.js'
    '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js'
    '@AdminBundle/Resources/public/js/payment.settings.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}