{% extends '@Doctor/layout.html.twig' %}

{% block stylesheets %}
  {{ parent () }}
  {% stylesheets
      '@AdminBundle/Resources/public/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css'
      '@AdminBundle/Resources/public/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css'
      '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'
      '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-summernote/summernote.css'
      '@AdminBundle/Resources/public/assets/global/plugins/icheck/skins/minimal/_all.css'
      '@AdminBundle/Resources/public/assets/global/plugins/typeahead/typeahead.css'
      '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
      filter='cssrewrite'
      output='css/s3.libs.css'
  %}
    <style>
        p.text-right {
            font-size: 14px !important;
        }
        #col_2 p, #col_3 p {
            margin-top: 0px !important;
        }
    </style>
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}


{% block pageTitle %}
    <h1>RX Transaction History</h1>
{% endblock %}

{% block breadcrumb %}
  <li> <a href="{{ path('doctor_dashboard')}}">Home</a> <i class="fa fa-circle"></i> </li>
{#  <li> <a href="#.html">Report</a> <i class="fa fa-circle"></i> </li>#}
  <li> <span class="active">RX Transaction History</span> </li>
{% endblock %}

{% block content %}
    <div class="portlet light">
        <div class="portlet-body form">
          <form id='frm-rx-report-filter' class="form-wizard">
            <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
              <div class="show-grid mb-grid mod-filter-range mt-20">
                <div class="row">
                  <div class="col-md-5">
                    <div class="input-icon right"> <i id="auto_suggest_i" class="icon-magnifier"></i>
                      <input id="patient_auto_suggest_txb" data-searched='false' type="text" class="form-control on-suggestion patient" placeholder="Search Patient Name / Code">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="input-icon right"> <i id="auto_suggest_i" class="icon-magnifier"></i>
                      <input id="order_auto_suggest_txb" data-searched='false' type="text" class="form-control on-suggestion order" placeholder="Search Order ID">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row show-grid module-filter">
                <div class="col-lg-9">
                  <div class="mod-filter">
                    <span class="filter-label">Filter by:</span>
                        <div class="entry filter-changing primary" id="rx_report_filter_status">
                            <a href="javascript:void(0);" class="active" data-patientType="all">All</a>
                            <a href="javascript:void(0);" data-patientType="{{ constant('UtilBundle\\Utility\\Constant::AREA_TYPE_LOCAL') }}">Local Patient</a>
                            <a href="javascript:void(0);" data-patientType="{{ constant('UtilBundle\\Utility\\Constant::AREA_TYPE_OVERSEA') }}">Overseas Patient</a
                            <input type="hidden" name="rx_report_filter[status]" value="all">
                        </div>
                  </div>
                </div>
                
                <div class="col-lg-3 text-right">
                  {% set perPage = constant('UtilBundle\\Utility\\Constant::PER_PAGE_DEFAULT') %}
                  {% set perPageList = constant('UtilBundle\\Utility\\Constant::PER_PAGE_LIST') %}
                  <label>
                    <select name="rx_report_filter[perPage]" id="rx_report_filter_per_page" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline">
                    {% for key, value in perPageList %}
                        <option value="{{ value }}" {{ value == perPage ? 'selected' : '' }}>{{ value }}</option>
                    {% endfor %}
                    </select>
                    entries</label>
                </div>
              </div>
              
              <div class="advanced_search mb-15"> 
                <div class="portlet">
                  <div class="portlet-title">
                    <div class="tools pull-left pt-5 advance-search">
                      <a href="javascript:;" class="expand link-icon" title="">Advanced Search</a>
                    </div>
                    
                    <div class="pull-right">
                      <a href="javascript:void(0);" data-doctorcode="{{ doctor.getDoctorCode() }}" class="btn-download btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-sm btn-icon-right">Download RX Transaction History <i class="fa fa-download"></i></a>
                    </div>
                  </div>
                  <div class="portlet-body" style="display: none;">
                    <div class="form-body advanced-search-filter">
                      <input type="hidden" name="from_date" value="">
                      <input type="hidden" name="to_date" value="">
                      <div class="text-right mb-20">
                        <a href="javascript:void(0);" class="btn-clear-filter btn btn-ahalf-circle text-uppercase btn-default btn-outline btn-xs">Reset Search</a>
                        <a href="javascript:void(0);" class="btn-update-filter btn btn-ahalf-circle text-uppercase green-seagreen btn-xs btn-icon-left ml-10" data-searched='false'>Update Search Result</a>
                      </div>
                      <div class="row mb-grid">
                        <div class="col-lg-4 col-md-6">
                          <div class="mb-15"><strong>Date</strong></div>
                          <div id="reportrange2" class="btn default">
                            <i class="fa fa-calendar"></i> &nbsp;
                            <span> </span>
                            <b class="fa fa-angle-down"></b>
                          </div>
                        </div>
                        
                        <div class="col-lg-8 col-md-6">
                          <div class="mb-15"><strong class="block">Doctor's Fees <span class="txt-grey-9d9">(Amount Range)</span></strong></div>
                          <div class="form-inline">
                            <div class="form-group">
                              <div class="input-group input-small">
                                <span class="input-group-addon">Min</span>
                                <input id='doctor_fee_gte' type="email" class="form-control">
                              </div>
                              
                            </div>
                            <span class="input-group-addon-label">to</span>
                            <div class="form-group">
                              <div class="input-group input-small">
                                <span class="input-group-addon">Max</span>
                                <input id='doctor_fee_lte' type="email" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="content-table doctor-container">
                  {{ render(controller( 'DoctorBundle:Report:ajaxTransactionHistory')) }}
              </div>
              {% block hiddenfields %} 
                <input type="hidden" id="current_sort_info" data-column='' data-direction='' value="">
                <input type="hidden" id="url_doctor_report_transaction_history" value="{{ path('doctor_report_transaction_history_ajax') }}">
                <input type="hidden" id="url_patient_suggestion_search" value="{{ path('doctor_rx_report_auto_suggest_ajax') }}">
                 <input type="hidden" id="url_ajax_download_sales_report" value="{{ path('doctor_report_transaction_history_csv') }}">
              {% endblock %}
            </div>
          </form>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AdminBundle/Resources/public/assets/global/plugins/moment.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
        '@AdminBundle/Resources/public/assets/pages/scripts/components-date-time-pickers.min.js'        
        '@AdminBundle/Resources/public/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/lib/markdown.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
        '@AdminBundle/Resources/public/assets/global/plugins/bootstrap-summernote/summernote.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/icheck/icheck.min.js'
        '@DoctorBundle/Resources/public/js/transaction_history_report.js'
        '@AdminBundle/Resources/public/assets/global/plugins/typeahead/typeahead.bundle.min.js'
        '@AdminBundle/Resources/public/assets/global/plugins/typeahead/handlebars.min.js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
