{% set sortColumn = sortInfo is not empty ? sortInfo.column : '' %}
{% set sortDirection = sortInfo is not empty ? sortInfo.direction : '' %}

<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="sample_1" role="grid" aria-describedby="sample_1_info" style="width: 1562px;">
        <thead>
          <tr role="row">
            <th class="sorting {% if 'orderNumber' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="orderNumber" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending"># Order ID</th>

            <th class="sorting {% if 'paidOn' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="paidOn" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Confirmed <br>Order Date</th>

            <th class="sorting {% if 'doctorName' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="doctorName" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Doctor Name <br>& Code</th>

            <th class="sorting {% if 'patientName' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="patientName" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Patient Name <br>& Code</th>

            <th class="sorting {% if 'orderValue' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="orderValue" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Total Fee <br>(SGD)</th>

            <th class="sorting {% if 'ms.doctorAmount' == sortColumn %}sorting_{{ sortDirection }}{% endif %}" tabindex="0" data-colname="ms.doctorAmount" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label=" #Invoice : activate to sort column descending">Doctor's Fee <br>(SGD)</th>
          </tr>
        </thead>
        <tbody>
        {% if data %}
            {% set total = 0 %}
            {% set totalDoctor = 0 %}
            {% set str_zero = '0.00' %}
            {% for order in data %}
                  <tr role="row" class="row-item rowItem">
                    <td>
                        <div class="nowrap"><a href="javascript:void(0);" class="rowItemBtn btn btn-circle green-seagreen btn-xs row-item-btn"><i data-loaded='false' data-url="{{ path('admin_rx_transaction_history_detail', { rxId: order.rxId }) }}" class="fa fa-plus"></i></a> {{ order.orderNumber }}</div>
                    </td>
                    <td>{{ order.paidOn|date("m/d/Y") }}</td>
                    <td>{{ order.doctorName }}<br>{{ order.doctorCode }}</td>
                    <td>{{ order.patientName }}<br>{{ order.patientCode }}</td>
                    <td class="text-right">{{ order.orderValue|number_format(2, '.', ',') }}</td>
                    <td class="text-right">{{ order.doctorAmount|number_format(2, '.', ',') }}</td>
                  </tr>
                  <tr class="hide-item rowItemExpand">
                    <td colspan="4" class="text-right">
                      {% for line in order.rxLines %}
                      <p><strong>{{ line.name }}</strong></p>
                      {% if 2 == line.lineType and platform_share_fee %}
                      <p><strong>G-Medes Fixed Margin (Prescription Review)</strong></p>
                      {% endif %}
                      {% endfor %}
                      {% if order.rx.shippingList is not null and order.rx.shippingList != str_zero %}
                        <p><strong>Shipping Fee</strong></p>
                      {% endif %}
                      {% if order.rx.feeGst is not null and order.rx.feeGst != str_zero %}
                        <p><strong>Goods and Services Tax</strong></p>
                      {% endif %}
                      {% if (order.rx.customsClearancePlatformFee is not null and order.rx.customsClearancePlatformFee != str_zero)
                            or (order.rx.customsClearanceDoctorFee is not null and order.rx.customsClearanceDoctorFee != str_zero) %}
                        <p><strong>Customs Clearance Admin Fee</strong></p>
                      {% endif %}
                      {% if order.rx.taxIncome is not null or order.rx.taxIncomeWithoutTax is not null %} <!-- for indonesia patient -->
                        <p><strong>BM - Import Duty</strong></p>
                        <p><strong>PPN - VAT</strong></p>
                        {% if order.taxIncome is not null %}
                          <p><strong>PPH1 - Tax on Import (for individuals with TAX ID)</strong></p>
                        {% else %}
                          <p><strong>PPH2 - Tax on Import (for individuals without TAX ID)</strong></p>
                        {% endif %}
                      {% elseif order.rx.customsTax is not null and order.rx.customsTax != str_zero %}
                        <p><strong>Import Tax / VAT</strong></p>
                      {% endif %}
                      {% if order.rx.igPermitFee is not null and order.rx.igPermitFee != str_zero %}
                        <p><strong>SG IG Permit Fee</strong></p>
                      {% endif %}
                      {% if order.payMethod == constant('UtilBundle\\Utility\\Constant::PAY_METHOD_VISA_MASTER') %}
                        <p><strong>Payment Gateway Variable</strong></p>
                        {% if order[0].paymentGate == constant('UtilBundle\\Utility\\Constant::PAYMENT_GATE_REDDOT') %}
                          <p><strong>Payment Gateway Fixed</strong></p>
                        {% else %}
                          <p><strong>Payment Gateway (Fixed Fee)</strong></p>
                        {% endif %}
                      {% else %}
                        <p><strong>Payment Gateway Fee(Fixed - FPX)</strong></p>
                        <p><strong>Payment Gateway Fee(Fixed - GST)</strong></p>
                      {% endif %}
                      {# {% if order.rx.paymentGatewayFeeVariable * 1 != 0 %}
                      <p><strong>Payment Gateway Fee(Variable)</strong></p>
                      {% endif %}
                      {% if order.rx.paymentGatewayFeeFixed * 1 != 0 %}
                      <p><strong>Payment Gateway Fee(Fixed)</strong></p>
                      {% endif %}#}
                    </td>
                    <td>
                      {% for line in order.rxLines %}
                      {% if not platform_share_fee %}
                      <p class="text-right">{{ line.listPrice|number_format(2, '.', ',') }}</p>
                      {% else %}
                      {% if 1 == line.lineType %}
                      <p class="text-right">{{ line.listPrice|number_format(2, '.', ',') }}</p>
                      {% else %}
                      <p class="text-right">{{ line.doctorServiceFee|number_format(2, '.', ',') }}</p>
                      <p class="text-right">{{ (line.platformServiceFee + line.agentServiceFee)|number_format(2, '.', ',') }}</p>
                      {% endif %}
                      {% endif %}
                      {% endfor %}
                      {% if order.rx.shippingList is not null and order.rx.shippingList != str_zero %}
                        <p class="text-right">{{ order.rx.shippingList }}</p>
                      {% endif %}
                      {% if order.rx.feeGst is not null and order.rx.feeGst != str_zero %}
                        <p class="text-right">{{ order.rx.feeGst }}</p>
                      {% endif %}
                      {% if order.rx.customsClearancePlatformFee is not null and order.rx.customsClearancePlatformFee != str_zero %}
                        <p class="text-right">{{ order.rx.customsClearancePlatformFee }}</p>
                      {% endif %}
                      {% if order.rx.taxIncome is not null or order.rx.taxIncomeWithoutTax is not null %} <!-- for indonesia patient -->
                        <p class="text-right">{{ order.rx.taxImportDuty }}</p>
                        <p class="text-right">{{ order.rx.taxVat }}</p>
                        {% if order.taxIncome is not null %}
                          <p class="text-right">{{ order.rx.taxIncome }}</p>
                        {% else %}
                          <p class="text-right">{{ order.rx.taxIncomeWithoutTax }}</p>
                        {% endif %}
                      {% elseif order.rx.customsTax is not null and order.rx.customsTax != str_zero %}
                        <p class="text-right">{{ order.rx.customsTax }}</p>
                      {% endif %}
                      {% if order.rx.igPermitFee is not null and order.rx.igPermitFee != str_zero %}
                        <p class="text-right">{{ order.rx.igPermitFee }}</p>
                      {% endif %}
                      <p class="text-right">-</p>
                      <p class="text-right">-</p>
                      {# {% if order.rx.paymentGatewayFeeVariable * 1 != 0 %}
                      <p class="text-right">-</p>
                      {% endif %}
                      {% if order.rx.paymentGatewayFeeFixed * 1 != 0 %}
                      <p class="text-right">-</p>
                      {% endif %}#}
                    </td>
                    <td>
                      {% for line in order.rxLines %}
                      {% set fee = line.doctorMedicineFee %}
                      {% if constant('UtilBundle\\Utility\\Constant::RX_LINE_TYPE_SERVICE') == line.lineType %}
                      {% set fee = line.doctorServiceFee %}
                      {% endif %}
                      <p class="text-right">{{ fee|number_format(2, '.', ',') }}</p>
                      {% if 2 == line.lineType and platform_share_fee %}
                        <p class="text-right">-</p>
                      {% endif %}
                      {% endfor %}
                      {% if order.rx.shippingList is not null and order.rx.shippingList != str_zero %}
                        <p class="text-right">-</p>
                      {% endif %}
                      {% if order.rx.feeGst is not null and order.rx.feeGst != str_zero %}
                        <p class="text-right">{{ order.rx.feeGst }}</p>
                      {% endif %}
                      {% if order.rx.customsClearanceDoctorFee is not null and order.rx.customsClearanceDoctorFee != str_zero %}
                        <p class="text-right">{{ order.rx.customsClearanceDoctorFee }}</p>
                      {% endif %}
                      {% if order.rx.taxIncome is not null or order.rx.taxIncomeWithoutTax is not null %} <!-- for indonesia patient -->
                          <p class="text-right">-</p>
                          <p class="text-right">-</p>
                          {% if order.taxIncome is not null %}
                              <p class="text-right">-</p>
                          {% else %}
                              <p class="text-right">-</p>
                          {% endif %}
                      {% elseif order.rx.customsTax is not null and order.rx.customsTax != str_zero %}
                        <p class="text-right">-</p>
                      {% endif %}
                      {% if order.rx.igPermitFee is not null and order.rx.igPermitFee != str_zero %}
                      <p class="text-right">-</p>
                      {% endif %}
                      {% if order.payMethod == constant('UtilBundle\\Utility\\Constant::PAY_METHOD_VISA_MASTER') %}
                        {% set totalLineFee = order.rx.paymentGatewayFeeBankMdr + order.rx.paymentGatewayFeeBankMdr * order.ccFee %}
                        <p class="text-right txt-red">-{{ order.rx.paymentGatewayFeeVariable }}</p>
                        {% if order[0].paymentGate == constant('UtilBundle\\Utility\\Constant::PAYMENT_GATE_REDDOT') %}
                          <p class="text-right txt-red">-{{ order.rx.paymentGatewayFeeFixed }}</p>
                        {% else %}
                          <p class="text-right txt-red">-{{ order.rx.paymentGatewayFeeFixed }}</p>
                        {% endif %}
                      {% else %}
                        {% set totalLineFee = order.rx.paymentGatewayFeeFixed + order.rx.paymentGatewayFeeFixed * order.fpxFee %}
                        <p class="text-right txt-red">-{{ order.rx.paymentGatewayFeeFixed }}</p>
                        <p class="text-right txt-red">-{{ order.rx.paymentGatewayFeeFixed * order.fpxFee }}</p>
                      {% endif %}

                      {# {% if order.rx.paymentGatewayFeeVariable * 1 != 0 %}
                      <p class="text-right txt-red">-{{ order.rx.paymentGatewayFeeVariable }}</p>
                      {% endif %}
                      {% if order.rx.paymentGatewayFeeFixed * 1 != 0 %}
                      <p class="text-right txt-red">-{{ order.rx.paymentGatewayFeeFixed }}</p>
                      {% endif %}#}
                    </td>
                    <td>

                    </td>
                  </tr>
                {% set total = total + order.orderValue %}
                {% set totalDoctor = totalDoctor + order.doctorAmount - totalLineFee %}
            {% endfor %}
            <tr role="row">
                <td colspan="4" class="text-right"><strong>Total:</strong></td>
                <td class="text-right"><strong>{{ total|number_format(2, '.', ',') }}</strong></td>
                <td class="text-right"><strong>{{ totalDoctor|number_format(2, '.', ',') }}</strong></td>
              </tr>
        {% else %}
                <tr><td colspan="7">{{ generateMessage('msgNoData') }}</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% if data|length > 0 %}
    {% set fromRecord = currentPage > 0? currentPage*perPage: currentPage %}
    {% set toRecored = fromRecord + perPage %}
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="dataTables_info" role="status" aria-live="polite">Showing {{ fromRecord + 1 }} to {{ toRecored < totalResult? toRecored: totalResult }} of {{ totalResult }} entries</div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="dataTables_paginate paging_bootstrap_number ajax_paging">
                {{ paginationHTML|raw }}
            </div>
        </div>
    </div>
    <input type="hidden" name="ps_filter[page]" value="{{ currentPage }}">
{% endif %}