<table class="table table-hover table-light_">
    <thead>
        <tr class="uppercase">
            <th style="width: 80px">Date</th>
            <th style="width: 140px">User</th>
            <th>Changes</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.createdOn|date('d M y') }}</td>
                <td>{{ log.createdBy }}</td>
                <td>
                    {% set str = log.title|split(' - ') %} 
                    {% set title = str|first|replace({'_': ' '})|title %}
                    <b>{{ title }}</b><br>
                    {% set unit = str|last|replace({'_': ' '}) == 'Fixed' ? ' MYR' : '%' %}
                    {% if log.oldValue.newFee != log.newValue.newFee %}
                        {{ str|last|replace({'_': ' '}) }} is updated
                        <br />Old Value: {{ log.oldValue.newFee }}{{ unit }}
                        <br />New Value: {{ log.newValue.newFee }}{{ unit }}<br><br>
                    {% endif %}

                    {% if log.oldValue.effectDate != log.newValue.effectDate %}
                        Effective date is updated
                        <br />Old Value: {{ log.oldValue.effectDate.date|date("d M y") }}
                        <br />New Value: {{ log.newValue.effectDate.date|date("d M y") }}<br>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<input type='hidden' id='print_log_url' value="{{ printUrl }}" />
<input type='hidden' id='breadcrumb_title' value="{{ breadcrumbTitle }}" />