<table class="table table-hover table-light_">
    <thead>
        <tr class="uppercase">
            <th style="width: 80px">Date</th>
            <th style="width: 140px">User</th>
            <th>Changes</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.createdOn|date('d M y') }}</td>
                <td>{{ log.createdBy }}</td>
                <td>
                    {# <strong>OLD VALUE:</strong> #}
                    {% set tmp = log.title|split(' - ')|first %}
                    {% if log.oldValue.platformPercentage != log.newValue.platformPercentage %}
                        {{ log.title|replace({'_': ' '})|title }}
                        <br> GMEDES Pte Ltd is updated
                        <br>Old Value: {{ log.oldValue.platformPercentage }}%
                        <br>New Value: {{ log.newValue.platformPercentage }}%<br /><br />
                    {% endif %}

                    {% if tmp != 'customs_clearance_admin_fee' %}
                        {{ log.title|replace({'_': ' '})|title }}
                        <br> Agent is updated
                        {% if log.oldValue.agentPercentage != log.newValue.agentPercentage %}
                        <br>Old Value: {{ log.oldValue.agentPercentage }}%
                        <br>New Value: {{ log.newValue.agentPercentage }}%<br /><br />
                        {% endif %}
                    {% endif %}

                    {%  if log.oldValue.doctorPercentage is defined %}
                        {% if log.oldValue.doctorPercentage != log.newValue.doctorPercentage %}
                            {{ log.title|replace({'_': ' '})|title }}
                            <br> Doctor is updated
                            <br>Old Value: {{ log.oldValue.doctorPercentage }}%
                            <br>New Value: {{ log.newValue.doctorPercentage }}%<br /><br />
                        {% endif %}
                    {% endif %}


                    {% if log.oldValue.takeEffectOn != log.newValue.takeEffectOn %}
                        Effective date is updated
                        <br />Old Value: {{ log.oldValue.takeEffectOn.date|date("d M y") }}
                        <br />New Value: {{ log.newValue.takeEffectOn.date|date("d M y") }}
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<input type='hidden' id='print_log_url' value="{{ printUrl }}" />
<input type='hidden' id='breadcrumb_title' value="{{ breadcrumbTitle }}" />
