<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Gross Margin Share</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #4 for blank page layout" name="description" />
        <meta content="" name="author" />
        <style>
            body {
                color: #333;
                padding: 0;
                margin: 0;
                font-size: 14px;
                font-family: Arial, sans-serif;
            }
            .portlet-title {
                border-left: 1px solid #e7ecf1;
                border-right: 1px solid #e7ecf1;
                border-top: 1px solid #e7ecf1;
                min-height: 41px;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                padding: 10px;
            }
            table {
                width: 100%;
                border: 1px solid #e7ecf1;
            }
            th {
                padding: 10px;
                font-weight: 600;
                vertical-align: bottom;
            }
            td {
                border-top: 1px solid #e7ecf1;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="portlet">
            <div class="portlet-title">
                {%  if platform_share_fee %}
                     <div class="caption">Global Margin Share And Fee</div>
                {% else %}
                     <div class="caption">Gross Margin Share</div>
                {% endif %}
            </div>
            <div class="portlet-body">
                <table class="table table-hover table-light_">
                    <thead>
                        <tr class="uppercase">
                            <th style="width: 80px">Date</th>
                            <th style="width: 140px">User</th>
                            <th>Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.createdOn|date('d M y') }}</td>
                            <td>{{ log.createdBy }}</td>
                            <td>
                                {# <strong>OLD VALUE:</strong> #}
                                {% set tmp = log.title|split(' - ')|first %}
                                {% if log.oldValue.platformPercentage != log.newValue.platformPercentage %}
                                    {{ log.title|replace({'_': ' '})|title }} 
                                    <br> GMEDES Pte Ltd is updated
                                    <br>Old Value: {{ log.oldValue.platformPercentage }}%
                                    <br>New Value: {{ log.newValue.platformPercentage }}%<br /><br />
                                {% endif %}

                                {% if tmp != 'customs_clearance_admin_fee' %}
                                    {{ log.title|replace({'_': ' '})|title }} 
                                    <br> Agent is updated
                                    {% if log.oldValue.agentPercentage != log.newValue.agentPercentage %}
                                    <br>Old Value: {{ log.oldValue.agentPercentage }}%
                                    <br>New Value: {{ log.newValue.agentPercentage }}%<br /><br />
                                    {% endif %}
                                {% endif %}

                                {%  if log.oldValue.doctorPercentage is defined %}
                                    {% if log.oldValue.doctorPercentage != log.newValue.doctorPercentage %}
                                        {{ log.title|replace({'_': ' '})|title }}
                                        <br> Doctor is updated
                                        <br>Old Value: {{ log.oldValue.doctorPercentage }}%
                                        <br>New Value: {{ log.newValue.doctorPercentage }}%<br /><br />
                                    {% endif %}
                                {% endif %}

                                {% if log.oldValue.takeEffectOn != log.newValue.takeEffectOn %}
                                    Effective date is updated
                                    <br />Old Value: {{ log.oldValue.takeEffectOn.date|date("d M y") }}
                                    <br />New Value: {{ log.newValue.takeEffectOn.date|date("d M y") }}
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
