<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Indonesia Import Tax</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #4 for blank page layout" name="description" />
        <meta content="" name="author" />
        <style>
            body {
                color: #333;
                padding: 0;
                margin: 0;
                font-size: 14px;
                font-family: Arial, sans-serif;
            }
            .portlet-title {
                border-left: 1px solid #e7ecf1;
                border-right: 1px solid #e7ecf1;
                border-top: 1px solid #e7ecf1;
                min-height: 41px;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                padding: 10px;
            }
            table {
                width: 100%;
                border: 1px solid #e7ecf1;
            }
            th {
                padding: 10px;
                font-weight: 600;
                vertical-align: bottom;
            }
            td {
                border-top: 1px solid #e7ecf1;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">Indonesia Import Tax</div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover table-light_">
                    <thead>
                        <tr class="uppercase">
                            <th style="width: 20%">Date</th>
                            <th style="width: 20%">User</th>
                            <th>Changes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        {% if log.oldValue.taxValue != log.newValue.taxValue or log.oldValue.effectDate != log.newValue.effectDate %}
                        <tr>
                            <td>{{ log.createdOn|date('d M y') }}</td>
                            <td>{{ log.createdBy }}</td>
                            <td>
                                Tax Name: {{ log.newValue.description }}
                                {% if log.oldValue.taxValue != log.newValue.taxValue %}
                                <br>Old Value: {{ log.oldValue.taxValue }}
                                <br>New Value: {{ log.newValue.taxValue }}<br />
                                {% endif %}
                                {% if log.oldValue.effectDate != log.newValue.effectDate %}
                                    <br>Effective Date is updated
                                    <br>Old Value: {{ log.oldValue.effectDate }}
                                    <br>New Value: {{ log.newValue.effectDate }}<br />
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
