<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Statements and PO Schedule Logs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #4 for blank page layout" name="description" />
    <meta content="" name="author" />
    <style>
        body {
            color: #333;
            padding: 0;
            margin: 0;
            font-size: 14px;
            font-family: Arial, sans-serif;
        }
        .portlet-title {
            border-left: 1px solid #e7ecf1;
            border-right: 1px solid #e7ecf1;
            border-top: 1px solid #e7ecf1;
            min-height: 41px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            padding: 10px;
        }
        table {
            width: 100%;
            border: 1px solid #e7ecf1;
        }
        th {
            padding: 10px;
            font-weight: 600;
            vertical-align: bottom;
        }
        td {
            border-top: 1px solid #e7ecf1;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="portlet">
    <div class="portlet-title">
        <div class="caption">Statements and PO Schedule Logs</div>
    </div>
    <div class="portlet-body">
        <table class="table table-hover table-light_">
          <thead>
            <tr>
                <th style="width: 20%">Date</th>
                <th style="width: 20%">User</th>
                <th>Changes</th>
            </tr>
          </thead>
          <tbody>
            {% if logs %}
                {% for log in logs %}
                    <tr>
                        <td>{{ log.createdOn|date('d M y') }}</td>
                        <td>{{ log.createdBy }}</td>
                        <td>
                            {% if log.oldValue.doctorStatementDate != log.newValue.doctorStatementDate  %}
                                Doctor Statement is updated
                                <br>Old Value: {{ log.oldValue.doctorStatementDate }} of the Month
                                <br>New Value: {{ log.newValue.doctorStatementDate }} of the Month <br><br>
                            {% endif %}

                            {% if log.oldValue.agentStatementDate != log.newValue.agentStatementDate  %}
                                Agent Statement is updated
                                <br>Old Value: {{ log.oldValue.agentStatementDate }} of the Month
                                <br>New Value: {{ log.newValue.agentStatementDate }} of the Month<br><br>
                            {% endif %}

                            {% if log.oldValue.pharmacyWeeklyPoDay !=  log.newValue.pharmacyWeeklyPoDay %}
                                Pharmacy Weekly PO is updated
                                <br>Statement is sent on
                                <br>Old Value: {{ get_day_of_week(log.oldValue.pharmacyWeeklyPoDay) }}
                                <br>New Value: {{ get_day_of_week(log.newValue.pharmacyWeeklyPoDay) }}<br>
                                {% if log.oldValue.pharmacyWeeklyPoTime ==  log.newValue.pharmacyWeeklyPoTime %}
                                    <br>
                                {% endif %}
                            {% endif %}
                            {% if log.oldValue.pharmacyWeeklyPoTime !=  log.newValue.pharmacyWeeklyPoTime %}
                                At time
                                <br>Old Value: {{ get_timeslot(log.oldValue.pharmacyWeeklyPoTime) }}
                                <br>New Value: {{ get_timeslot(log.newValue.pharmacyWeeklyPoTime) }}<br><br>
                            {% endif %}


                            {% if log.oldValue.deliveryFortnightlyPoDay !=  log.newValue.deliveryFortnightlyPoDay %}
                                Delivery Weekly PO is updated
                                <br>Statement is sent on
                                <br>Old Value: {{ get_day_of_week(log.oldValue.deliveryFortnightlyPoDay) }}
                                <br>New Value: {{ get_day_of_week(log.newValue.deliveryFortnightlyPoDay) }}<br>
                            {% endif %}
                            {% if log.oldValue.deliveryFortnightlyPoTime !=  log.newValue.deliveryFortnightlyPoTime %}
                                At time
                                <br>Old Value: {{ get_timeslot(log.oldValue.deliveryFortnightlyPoTime) }}
                                <br>New Value: {{ get_timeslot(log.newValue.deliveryFortnightlyPoTime) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
          </tbody>
        </table>
    </div>
</div>
</body>
</html>