{% set arr_sorting = sorting|split('_') %}
<table class="table table-striped table-bordered table-hover order-column dataTable no-footer table-grey" role="grid">
  <thead>
    <tr role="row">
      <th class="sorting {% if 'createdOn' in arr_sorting|default([]) %}sorting_{{ arr_sorting[1]|default('') }}{% endif %}" tabindex="0" data-colname="createdOn" rowspan="1" colspan="1" data-column-index="0"aria-sort="ascending" aria-label=" Date : activate to sort column descending" style="min-width: 100px"> Date</th>
      <th class="sorting {% if 'fullName' in arr_sorting|default([]) %}sorting_{{ arr_sorting[1]|default('') }}{% endif %}" tabindex="0" data-colname="fullName" rowspan="1" colspan="1" data-column-index="1" aria-label=" Patient Name : activate to sort column ascending" style="min-width: 130px"> Patient Name </th>
      <th class="sorting {% if 'patientCode' in arr_sorting|default([]) %}sorting_{{ arr_sorting[1]|default('') }}{% endif %}" tabindex="0" data-colname="patientCode" rowspan="1" colspan="1" data-column-index="2" aria-label=" Patient Code : activate to sort column ascending" style="min-width: 130px"> Patient Code </th>
      <th tabindex="0" rowspan="1" colspan="1" data-column-index="3" aria-label=" Request : activate to sort column ascending"> Request </th>
    </tr>
  </thead>
  <tbody>
    {% if data|length > 0 %}
      {% for rx in data %}
      {% set rxType = rx.type|lower %}
      <tr role="row">
        <td>{{rx.createdOn|date('d M y')}}</td>
        <td>{{rx.fullName}}</td>
        <td>{{rx.patientCode}}</td>
        <td>
          {% if rxType == constant('UtilBundle\\Utility\\Constant::MSG_TYPE_MAYBE') %}
              {{constant('UtilBundle\\Utility\\Constant::MSG_RX_REFILL_MAYBE')}}
          {% elseif rxType == constant('UtilBundle\\Utility\\Constant::MSG_TYPE_YES') %}
              {{constant('UtilBundle\\Utility\\Constant::MSG_RX_REFILL_YES')}}
          {% elseif rxType == constant('UtilBundle\\Utility\\Constant::MSG_TYPE_NOTIFICATION') or rxType == constant('UtilBundle\\Utility\\Constant::MSG_TYPE_REPLACEMENT_ORDER') or rxType == constant('UtilBundle\\Utility\\Constant::MSG_TYPE_DOCTOR_ISSUE')  %}
              {{ rx.body|raw }}
              {% if rx.attachments and rx.attachments is not empty %}
              <p>Attachments: 
                {% set attachments = rx.attachments|split(',') %}
                {% for attachment in attachments %}
                  {% set attachment = attachment is not empty ? attachment|split('|') : ['', ''] %}
                  {% if loop.index > 0 %}, {% endif %}
                  <a href="{{ app.request.getBaseURL() ~ '/' ~ attachment[1] }}" target="_blank">{{ attachment[0] }}</a>
                {% endfor %}
              </p>
              {% endif %}
          {% elseif rxType == constant('UtilBundle\\Utility\\Constant::MESSAGE_CONTENT_TYPE_DOCTOR_REVIEW') %}
                {{ rx.senderName }} generated an RX order {{ rx.order_number }}. Please review and send to patient.
              {% elseif rxType == constant('UtilBundle\\Utility\\Constant::MESSAGE_CONTENT_TYPE_AMENDMENTS') %}
                {{ rx.senderName }} amended the RX order {{ rx.order_number }}. Please review and send RX order to patient.
          {% else %}
              {{constant('UtilBundle\\Utility\\Constant::MSG_RX_REFILL')}}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="4">No items found.</td>
      </tr>
    {% endif %}
  </tbody>
</table>